doctype html
html
  head
    title laser cat party!
    link(rel="stylesheet", type="text/css", href="/stylesheets/placeholder.css")
  body
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="/javascripts/placeholder.js")

