doctype html
html
  head
    title laser cat party!
    link(rel="stylesheet", type="text/css", href="/stylesheets/app.css")
  body
    script(type="text/javascript", src="/javascripts/vendor.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript") require("scripts/main")();
    #container

