html, body { height: 100%; }
body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--text);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

progress {
  background: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 12px;
  border: none;
  color: white;

  &, &::-webkit-progress-bar { background: rgba(255, 255, 255, 0.1); }
  &::-webkit-progress-value {
    background: url(/images/progress.png) repeat-x;
    background-size: auto 13px;
    position: relative;

    &:after {
      background: url(/images/nyan.png);
      background-size: 21px 13px;
      position: absolute;
      display: block;
      right: -10px;
      height: 13px;
      width: 21px;
      content: '';
      top: 0;
    }
  }
  &::-moz-progress-bar {
    background: url(/images/progress.png) repeat-x;
    background-size: auto 13px;
    position: relative;

    &:after {
      background: url(/images/nyan.png);
      background-size: 21px 13px;
      position: absolute;
      display: block;
      right: -10px;
      height: 13px;
      width: 21px;
      content: '';
      top: 0;
    }
  }
}

#container {
  width: 100%;
  height: 100%;

  canvas {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
}

#controls {
  background-color: black;
  position: absolute;
  display: none;
  opacity: 0.6;
  bottom: 0;
  right: 0;
  left: 0;

  &:before, &:after { content: ' '; display: table; }
  &:after { clear: both; }

  a { text-decoration: none; color: var(--text); }

  a#button {
    border: 1px solid var(--text);
    border-radius: 25px;
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    display: block;
    height: 40px;
    width: 40px;
    float: left;

    &:before {
      position: absolute;
      top: 10px;
    }
    &.pause:before { content: "\f04c"; left: 11px; }
    &.play:before { content: "\f04b"; left: 14px; }
  }

  img#albumart {
    margin-left: 10px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
  }

  a#link {
    margin-left: 10px;
    display: block;
    float: left;

    span { line-height: 18px; font-size: 16px; }
    span#title { color: color(var(--text) blackness(80%)); }
  }

  progress {
    margin-left: 20px;
    margin-top: 15px;
    float: left;

    &#volume {
      margin-right: 20px;
      width: 100px;

      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }
  }

  #right-controls {
    float: right;
    &:before, &:after { content: ' '; display: table; }
    &:after { clear: both; }
  }

  a#full-screen {
    margin-right: 10px;
    line-height: 40px;
    float: left;
  }
}

@keyframes countdown {
  0% {
    text-shadow:
      0 0 0 #f20d0dc0,
      0 0 0 #f28a0dc0,
      0 0 0 #ddf20dc0,
      0 0 0 #60f20dc0,
      0 0 0 #0d41f2c0,
      0 0 0 #4f0df2c0;
  }
  100% {
    text-shadow:
      -10px -10px 5px #f20d0dc0,
      0     -10px 5px #f28a0dc0,
      10px  0     5px #ddf20dc0,
      10px  10px  5px #60f20dc0,
      0     10px  5px #0d41f2c0,
      -10px 0     5px #4f0df2c0;
  }
}

#countdown {
  position: absolute;
  font-size: 80px;
  display: none;
  left: 50%;
  top: 80%;

  &.animate {
    animation-duration: 1s;
    animation-name: countdown;
  }
}

#loading {
  background: url(/images/loading.gif);
  margin: -187px 0 0 -250px;
  position: absolute;
  height: 375px;
  width: 500px;
  left: 50%;
  top: 50%;

  progress {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  a#start {
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    background: black;
    padding: 10px;
    display: none;
    color: white;
    width: 100%;
    bottom: 0;
  }
}

